.nav{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.nav2{
    color: black;
    float: right;
    margin-right: 1%;
}
.nav5{
    float: left;
    margin-left: 1%;
}
.a1{
    background-image:linear-gradient(rgba(40,60,80,0.9),rgba(225,225,225,0)), url("pexels-kateryna-babaieva-2760242 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}
.def{
    color: #ffffff;
    font-size: 85px;
    font-weight: 550;
    padding-left: 10%;
    padding-top: 10%;
    text-align: left;
}
.a2{
    width: 65%;
    height: 80%;
    margin: 0 auto;
    padding-top: 10%;
}
.ab{
    color: red;
    font-size: 20px;
}
.cd{
    font-size: 60px;
    margin-right: 50%;
}
.ef{
    margin-left: 50%;
    font-size: 20px;
}
table{
    text-align: center;
    margin: 0 auto;
    padding-top: 10%;
}
td{
    width: 240px;
    height: 100px;
}
.a{
    border-left: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
}
.x{
    font-size: 70px;
    font-weight: 600;
}
.y{
    color: red;
}
.w{
    font-size: 20px;
}
.z{
    font-weight: 600;
}
.a3{
    background-image:linear-gradient(rgba(40,60,80,0),rgba(225,225,225,0)), url("Mask group.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 80%;
}
.a3-body{
    padding-top: 8%;
    float: right;
    width: 75%;
    height: 100%;
}
.yz{
    margin-right: auto;
}

.pqr{
    padding-top: 7%;
}

.pq{
    width: 300px;
    height: 300px;
}
.qrs{
    margin-left: 1%
}

.a4{
    margin-top: 15%;
    padding-left: 17%;
    font-size: 70;
}

.topDiv div{
    position: relative;
    top: 18px;
}
.topDiv{
    height: 60px;
    overflow: hidden;
}
.a41{
    font-size: 50;
    color: red;
    font-weight: bold;
}
.a43{
    color: rgb(128, 128, 128);
    font-size: 14px;
}

.a45{
    margin: 0 auto;
    background-image: url("123.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 75%;
    height: 75%;
}

.a5{
    margin-top: 2%;
    background-image: url("Group 324.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.a51{
    padding-top: 10%;
    padding-left: 20%;
    width: 35%
}
.a6{
    padding-top: 10%;
}
.a61{
    text-align: center;
    color: red;
    padding-bottom: 4%
}
.a78{
    padding-top: 5%;
}
.a71{
    text-align: center;
    color: grey;
    font-weight: 600;
    text-decoration: none;
    font-size: 30px;
    padding-left: 10%;
}
a:hover{
   color: rgba(0, 0, 138, 0.844);
}

.form{
    margin-top: 120px;
    background-image: url("Rectangle 489.png");
    width: 50%;
    height: 85%;
}
.a8{
    padding-top: 80px;
    padding-left: 110px;
}
.a81{
    color: #ffffff;
    font-size: 50px;
}
.a82{
    border-bottom: 2px solid white;
    width: 18%;
}
.a9{
    padding-bottom: 20px;
}
.a91{
    padding-top: 20px;
}
.a95{
    width: 50%;
    height: 50px;
    border-radius: 10px;
}
.a93{
    height: 100px;
}
.a94{
    background-color: red;
    color: white;
    width: 18%;
    height: 40px;
    border-radius: 20px;
}
.a99{
    position: absolute;
    padding-left: 40%;
}

.foot{
    color: white;
    background-color: black;
    height: 30%;
    padding-top: 3%;
    padding-left: 10%;
}
.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.a10{
    padding-bottom: 30px;
}
.a11{
    text-align: left;
    color: #ffffff;
    font-size: 30px;
}

.container {
    display: flex;
}
.item {
    height: 100px;
}
.a12{
    padding-bottom: 20px;
}
.a13{
    padding-bottom: 20px;
    margin-left: 70px;
}
.a14{
    padding-right: 15%;
    text-align: right;
    padding-top: 18%;
}
.a15{
    padding-right: 15%;
    text-align: right;
    padding-top: 20px;

}



@media screen and (max-width: 480px) {
    .nav1{
        padding-left: 50px;
    }
    .nav2{
        font-size: 12px;
        padding-left: 30px;
    }
    .a1{
        width: 90%;
        height: 25%;
    }
    .def{
        font-size: 20px;
        padding-top: 30px;
        padding-left: 20px;
    }
    .ghi{
        display: none;
    }
    .a2{
        width: 100%;
        height: 50%;
        padding-top: 30px;
        margin-left: 10px;
    }
    .ab{
        font-size: 15px;
        padding-left: 5px;
    }
    .cd{
        font-size: 25px;
        padding-left: 5px;
    }
    .ef{
        font-size: 10px;
        padding-left: 10px;
        margin-right: 10px;
    }
    .x{
        font-size: 25px;
    }
    .w{
        font-size: 15px;
    }
    .a3{
        width: 100%;
        height: 40%;
    }
    .yz{
        margin-left: 20px;
    }
    .zy{
        padding-top: 110px;
    }
    .pq{
        width: 80px;
        height: 80px;
    }
    /* .qr{
        display: none;
    } */
    .qrs{
        margin-left: 5px;
    }
    .a4{
        padding-left: 10px;
        font-size: 30px;
    }
    .a45{
        width: 100%;
        height: 35%;
    }
    .a5{
        width: 100%;
        height: 35%;
    }
    .a51{
        padding-top: 20px;
        padding-left: 20px;
        width: 200px;
    }
    .a61{
        padding-bottom: 15px;
    }
    .a71{
        font-size: 10px;
        padding-left: 20px;
    }
    .a78{
        padding-top: 15px;
    }
    .form{
        width: 55%;
        height: 40%;
    }
    .a8{
        padding-top: 40px;
        padding-left: 20px;
    }
    .a81{
        font-size: 25px;
    }
    .a9{
        padding-bottom: 10px;
    }
    .a95{
        width: 85px;
        height: 20px;
        border-radius: 5px;
    }
    .a93{
        height: 30px;
    }
    .a94{
        width: 60px;
        height: 22px;
        border-radius: 10px;
    }
    .a99{
        position: absolute;
        padding-left: 40%;
    }
    .a1000{
        width: 100%;
        height: 40%;
    }
    .foot{
        width: 100%;
        height: 10%;
        padding-left: 0px;
        padding-top: 10px;
    }
    .a10{
        padding-bottom: 5px;
    }
    .a11{
        font-size: 15px;
    }
    .a12{
        font-size: 5px;
        padding-bottom: 5px;
        margin-left: -30px;
    }
    .a13{
        font-size: 5px;
        padding-bottom: 5px;
        margin-left: 15px;
    }
    .a14{
        font-size:5px;
        padding-top: 20px;
    }
    .a15{
        font-size: 5px;
        padding-top: 5px;
        padding-left: 10px;
    }
}